#book-view {
  background-color: #fff;
}
#book-list {
  background-color: #dedede;
  margin: 0 auto;
}
.book-items {
  margin-top: 30px;
  background: #a2a2a2;
}
.book-container {
  position: relative;
  text-align: center;
  padding-bottom: 60px;
  padding-top: 20px;
}

.book-container  img{
  width: 40%;
  margin: 30px;
  transform:rotate(-12.5deg);
}

.book-overlay {
  width: 100%;
  height:120px;
  background-color: #555;
  position: absolute;
  bottom: 0;
  text-align: left;
}

.book-overlay h3, p {
  color: #fff;
}

.book-overlay h3 {
  font-size: 22px;
  margin-top: 15px;
  margin-left: 20px;
}

.book-overlay p {
  margin-left: 20px;
  margin-top:5px;
  font-size: 18px;
}

.book-detail-btn, .results-detail-btn, .book-add  {
  margin-right: 20px;
  font-size: 18px;
  display: none;
}

.book-detail-btn a {
 color: inherit;
 text-decoration: none;
}

h3 {
 font-size: 30px;
 color: #333;
}
