#detail-view h3 {
 margin: 20px auto;
}

#read-more{
  cursor: pointer;
}

#detail-descritpion {
  max-height: 140px;
  overflow: -webkit-paged-y;
  text-overflow: ellipsis;
}


#detail-descritpion.is-revealed {
  max-height: 100%;
}
