/* #new-book-form {
  width: 100%;
}

#new-book-form label{
  display: block;
  margin-top: 30px;
}

#new-book-form input, #new-book-form textarea {
  width: 100%;
  border-radius: 3px;
  color:#333;
}

#new-book-form input {
  font-size: 24px;
  padding: 4px;
}

#new-book-form textarea {
  height:200px;
} */

form {
  width: 100%;
    /* margin-bottom: 70px; */
}

label{
  display: block;
  margin-top: 30px;
}

input, textarea {
  width: 99%;
  border-radius: 3px;
  color:#333;
}

 input {
  font-size: 24px;
  padding: 4px 0;
  text-indent: 5px;
}

 textarea {
  height:200px;
  font-size: 18px
}


textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 24px;
}

/* button[type="submit"] {
  font-size: 24px;
  padding: 4px 12px;
} */

button {
  font-size: 22px;
  margin-left: 20px;
}

button a {
 color: inherit;
 text-decoration: none;
}

/* #new-book-submit {
  font-size: 24px;
  padding: 4px 12px;
} */
