header{
  width: 100%;
  height: 120px;
  background-color: #555;
  position: relative;
  z-index: 9;
}

h1 {
  margin: 30px;
  padding-top: 40px;
  color:#FFF;
  font-family: Verdana;
  font-size: 36px;
}

h1 .icon-glass {
  font-size: 30px;
}

nav {
  width: 100%;
  padding-top:14px;
}

.icon-menu {
  font-size: 60px;
  position: absolute;
  top: 20px;
  right: 20px;
}

#menu-list {
  display: none;
}

#menu-list li{
  font-size: 24px;
  width: 100%;
  background-color: #333;
  color: #999;
  line-height: 50px;
  border-top: 1px solid #999;
}

#menu-list a{
  display: inline-block;
  width: 100%;
  text-indent: 15px;
  text-decoration: none;
  color: inherit;
}

@media screen and (min-width: 480px){

header{
  width: 480px;
  margin: 0 auto;
}
