section{
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.primary-btn, .secondary-btn {
  padding: 6px 12px;
  text-align: center;
  outline: none;
  border-radius: 3px;
  float: right;
  border: none;
}

.primary-btn {
  background-color: #999;
}

.primary-btn:hover {
  background-color: #EFEFEF;
}

.primary-btn:active {
  color: #999;
  background-color: #333;
}

.secondary-btn {
  background-color: #333;
  color: #999;
}

.secondary-btn:hover {
  background-color: #EFEFEF;
}

.secondary-btn:active {
  color: #999;
  background-color: #555;
}


@media screen and (min-width: 480px){

  section{
    width: 440px;
  }

}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}
